*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    border: 4px solid #803535;
    background-color: rgb(252, 250, 250); 
}
img {
    display: block;
    width: 180px;
    height: 150px;
    border-radius: 16px;
    margin: 2px;
    max-width: 100px;  
}
.header {
   display: flex;
   width: 100vw;
   height: 20vh;
   background-color: #803535;
   border: 2px solid white;
   border-radius: 10px;
   padding: 5px;
   color: var(--colorwhite);
   align-items: start;
   justify-content: space-between;
}
.form {
    display: flex;
    height: 50px;
    justify-content: end;
    align-items: center;
    padding: 15px;
    margin: 5px;
}
.nav {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #B74C4C;
    border: 2px solid white;
    padding: 5px;
    a{
       color: white;
       text-decoration: none;
    }
}
.hero{
display: flex;
flex-direction: row;
text-align: center;
font-size: x-small;
width: 100vw;
height: 30vh;
border: 2px solid  rgb(116, 4, 4);
color: white;
background-color: #B74C4C;
padding: 5px;
}
.main{
    display: flex;
    width: 100vw;
    height: 150vh;
    border: 2px solid rgb(227, 224, 224);
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: #E0B2B2;
}
.text {
    display: flex;
    position: absolute;
    left: 470px;
    top:11rem;
    flex-direction:row;
    text-align:center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: large;
    border: 4px solid  rgb(116, 4, 4);
    height: 20vh;
    order: -1;
    width: 800px;
    
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 107px;
    margin: 15px;
    a{
        color: white;
    }
    a:hover {
    color:rgb(116, 4, 4);
}
}
.Fritidshem {
    display: block;
    justify-content: center;
    border-radius: 10px;
    width: 106px;
    text-shadow: black;
    padding: 3px;
    margin-left: 4px;
}
.Boka {
    display: block;
    justify-content: center;
    border-radius: 10px;
    width: 106px;
    text-shadow: black;
    padding: 3px;
    margin-left: 4px;
    a{
        color: white;
    }
}
.få-stöd-och-hjälp{
    display: block;
    border-radius: 10px;
    width: 116px;
    padding: 3px;
    margin-left: 4px;
    a{
        color: white;
    }
}
.slider {
    position: relative;
    left: 800px;
    bottom: 350px;
    width: 400px;
    height: 250px;
    overflow: hidden;
    h1 {
        color: white;
    }
}
.slides {
    display: flex;
    width: 400px;
    animation: move 9s infinite;
}
.slides img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
    @keyframes move {
    0%, 30%   { transform: translateX(0); }
    33%, 63%  { transform: translateX(-300px); }
    66%, 96%  { transform: translateX(-600px); }
    100%      { transform: translateX(0); }
  }
.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #803535;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    color: var(--colorwhite);
    align-self: self-end;
    a{
        color: var(--colorwhite);
    }
}