*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100vw;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100vw;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    background-color:darkslategray;
    color: var(--colorwhite);
    width: 100%;
    max-width: 100vw;
}
h1 {
    font-size: 50px;
    padding: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
input {
    border: none;
    padding: 10px;
    border-radius: 10%;
}
input:hover {
    box-shadow: 2px 4px 1px rgb(122, 210, 240);
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    background-color: lightgrey;
    padding: 20px;
    width: 100%;
    max-width: 100vw;
}
a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 27px;
}
a:hover {
    color: rgb(40, 124, 175);
    background-color: var(--colorwhite);
    border-radius: 20%;
}
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    max-width: 100vw;
}
.text>h1 {
    font-size: 30px;
    color: rgb(53, 52, 52);
}
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slides {
    border: 2px solid var(--colorblack);
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}
.all_img{
        animation: move 3s linear infinite;

}
    @keyframes move {
  
        0%{
            transform: translate(0,0);
        }
        25% {
            transform: translate(100px,0);
        }
        50% {
            transform: translate(200px,0);
        }
        75% {
            transform: translate(-100px,0);
        }
        100% {
            transform: translate(0,0);
        }
  }
img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px;
    width: 100%;
    max-width: 100vw;
}
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 100vw;
}
.Fritidshem {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Bok {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.hjälp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;  
}
.boka_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.text_hjälp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.footer {
    background-color: darkslategray;
    width: 100vw;
    color: var(--colorwhite);
    padding: 30px;
    width: 100%;
    max-width: 100vw;
}
@media screen and (max-width:600px) {
    .header, .nav, .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    }
    img {
        width: 100px;
        height: auto;
    }
}
@media screen and (min-width:601) and (max-width:900px) {
    .header, .nav, .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    }
        img {
        width: 200px;
        height: auto;
    }
}
